*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin-top: 20px;
    height: 600px;
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
}
.box{
    border: 1px solid goldenrod;
    padding: 10px;
    
}
#box-1 {
    background-color: #075807;
    grid-row: 1 / 4;
    
}
#box-2 {
    background-color: #075807;
    grid-column: 2 / 4;
}
#box-3 {
    background-color: rgb(212, 10, 10);

}
#box-6 {
    background-color: #075807;
    grid-area: 2 / 4/ 4/  5;
}
#box-4 {
    background-color: #d69316;
}
#box-5 {
    background-color: rgb(187, 4, 4);
}
#box-7 {
    background-color: rgb(172, 3, 3);
}
#box-8 {
    background-color: #fbb22f;
}
h2{ 
    background-color: #030200;
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    margin-top: 2%;
}
h1{
    font-family: arial;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: goldenrod;
    color: black;
    padding: 1%;
    text-align: center;
}